foreground = yes
syslog = no
debug=7

{{range $dir := lsdir "/stunnel/svc"}}
[{{base $dir}}]
PSKidentity = node
PSKsecrets = /etc/stunnel/node.psk
ciphers = PSK
{{$custdir := printf "/stunnel/svc/%s/*" $dir}}{{range gets $custdir}}
{{ base .Key }} = {{ .Value }}
{{ end }}
{{ end }}